<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>朱斌的个人简历</title>
    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <style>
        body { width:842px;margin:auto;padding:45px;background-color:#eff;font-size: 14px}
        #layer1 {display: flex}
        #leftbase { flex-basis: 560px;}
        #rightbase{ flex-basis: 282px;border-left: 1px solid #eee;background-color: #ffe;}
        #rightbase td:first-child {font-weight: bold;color:#777; }
        #rightbase td {color: #888;}
        #info>span:nth-child(1){font-weight: bold;color: #777;font-size: 14px;}
        #info>span:nth-child(2){font-weight: bold;color: #777;font-size: 14px;}
        #info>span:nth-child(3){font-weight: bold;color: #777;font-size: 14px;}
        #info>span:nth-child(4){font-weight: bold;color: #777;font-size: 14px;}
        .info_head {text-align: center; height:35px;font-size: 20px; line-height: 35px;background-color:#555;color: cornsilk;}

        .info_border{padding: 10px 20px;color: #777;background-color: #ffe;}
        .info_border td:nth-child(1){width: 50px;}
        .leftHeader {text-align: center; height:35px;font-size: 20px; line-height: 35px;background-color:#555;color: cornsilk;}
        .left_border{padding: 10px 20px;color: #777;background-color: #ffe;}


        #assessment_border>div {margin-bottom: 4px;}
        .assessment_argument {font-weight: bold;color:#444;font-size: 16px;margin-right: 4px;}
        .assessment_sort {color:#555;font-size: 14px;padding-right: 5px;}

        #careertb td:nth-child(1){font-weight: bold;color:#555;width:60px;margin-left: 5px;}
        #careertb td:nth-child(3){font-weight: bold;color:#555;width:85px;margin-left: 5px; }
        #careertb td:nth-child(2){color: #888;width: 210px;}
        #careertb td:nth-child(4){color: #888;}
        .careerLine {background-color: #999;height:18px;}
        dd{color:#777;}

        #pj{background-color: #ffe;margin-top: 20px;}
        .projectb {padding:10px 20px;}
        .projectb td:nth-child(1){width:60px; font-weight: bold;color:#555;text-align: center;}
        .projectb td:nth-child(2){width:40%; color:#888;}
        .projectb td:nth-child(3){width:60px; font-weight: bold;color:#555;}
        .projectb td:nth-child(4){width:40%; color:#888;}
        #projectTitle {background-color:#444;text-align: center; height:35px;font-size: 20px; line-height: 35px;color: cornsilk;}

        a{color: lightskyblue;}
        .retract {padding-left: 20px;}

    </style>
</head>
<body>
<div id="resume">
<!-- 简历概要 --->
<div id="layer1">
    <!-- 左 --->
    <span id="leftbase">
        <!-- 评价 --->

        <div>
            <div id="assessment" class="leftHeader">个人优势</div>
            <div class="left_border">
                <div>
                    <span class="assessment_sort">1.</span><span class="assessment_argument">做事有规划，有责任心，有文档才有真相</span> 懂得同事间协作沟通的重要性，善于分解规划项目，经手项目必定附带详细文档，文档是为了更快更好的实施项目。
                </div>
                <div>
                    <span class="assessment_sort">2.</span><span class="assessment_argument">核心主力</span>多语言开发（主要为Golang,.Net,也用Python，Swift写过项目）,同时对Web端，移动端也有了解，参与过多个项目架构设计及核心代码编写，有生产环境优化经验(日UV数过万)。
                </div>
                <div>
                    <span class="assessment_sort">3.</span><span class="assessment_argument">有产品经验</span>直接间接参与过Saas企业协作软件及社交软件等产品原型设计及制作。
                </div>
                <div>
                    <span class="assessment_sort">4.</span><span class="assessment_argument">学习能力强</span>业余时间会通过一些知识付费软件，书籍，线下课程学习调研一些当前热门技术知识，能够让自己更好的拓展知识面，更好的完成工作（如Golang,docker,jenkins等都是业余所学而后运用实践）。
                </div>
            </div>
        </div>
        <!--- 工作履历-->
        <div id="careertb">
             <div id="career" class="leftHeader">工作经历</div>
             <div  v-for="career in careers">
                 <div class="left_border">
                     <table >
                         <tr>
                             <td>时间段</td>
                             <td>{{career.period1}}</td>
                             <td>时间跨度</td>
                             <td>{{career.period2}}</td>

                         </tr>
                         <tr>
                             <td>公司名称</td>
                             <td>{{career.cpname}}</td>
                             <td>主营业务</td>
                             <td>{{career.dowhat}}</td>
                         </tr>
                         <tr>
                             <td>职位</td>
                             <td>{{career.postion}}</td>
                             <td>薪资</td>
                             <td>{{career.salary}}</td>
                         </tr>
                         <tr>
                             <td >离职原因</td>
                             <td colspan="3">{{career.reason}}</td>
                         </tr>
                         <tr>
                             <td valign="top">职责</td>
                             <td colspan="3" v-html="career.duty"></td>
                         </tr>
                     </table>
                 </div>
                 <div class="careerLine"></div>
             </div>

        </div>

    </span>
    <!-- 右 --->
    <span id="rightbase">
        <div class="info_border">
            <img :src="myInfo.face" alt="" style="width: 120px;height: 150px;background-repeat: no-repeat;position: relative;left:58px;margin:10px 0px;">
            <div id="info" style="padding-left: 10px;">
                <span style="font-size: 22px;font-weight: normal;">{{myInfo.name}}</span>
                <span style="border-radius:8px;padding:0 5px;background-color: dodgerblue;color: #eeffff">{{myInfo.gendar}}</span>
                <span>{{myInfo.experience}}</span>
                <span>{{myInfo.edu}}</span>
            </div>
            <table>
                <tr>
                    <td>手机</td>
                    <td>{{myInfo.phone}}</td>
                </tr>
                <tr>
                    <td>邮箱</td>
                    <td>{{myInfo.mail}}</td>
                </tr>
                <tr>
                    <td>户籍</td>
                    <td>{{myInfo.census}}</td>
                </tr>
                <tr>
                    <td>生日</td>
                    <td>{{myInfo.birthday}}</td>
                </tr>
            </table>
        </div>
         <div>
            <div class="info_head">技术社交</div>
            <div class="info_border">
            <div v-for="blog in myInfo.blogs" style="position: relative;">
                <img :src="blog.img" style="height: 20px;width: 20px;margin-top:5px;">
                <div style="font-size: 8px;height:30px;line-height: 30px; position: absolute;left:30px;top:0px;">
                    <a :href="blog.link">{{blog.url}}</a>
                </div>
            </div>
            </div>
        </div>
        <!-- 求职意向 --->
        <div>
            <div class="info_head">求职意向</div>
            <div class="info_border">
            <table>
                <tr>
                    <td>职位</td>
                    <td>{{myInfo.position}}</td>
                </tr>
                <tr>
                    <td>语言</td>
                    <td>{{myInfo.lang}}</td>
                </tr>
                <tr>
                    <td>薪资</td>
                    <td>{{myInfo.salary}}</td>
                </tr>
                <tr>
                    <td>状态</td>
                    <td>{{myInfo.state}}</td>
                </tr>
            </table>
            </div>
        </div>

        <!-- 教育背景 --->
        <div>
            <div class="info_head">教育经历</div>
            <div class="info_border">
            <table>
                <tr>
                    <td>学校</td>
                    <td>{{myInfo.colleage}}</td>
                </tr>
                <tr>
                    <td>时间段</td>
                    <td>{{myInfo.span}}</td>
                </tr>
                <tr>
                    <td>专业</td>
                    <td>{{myInfo.major}}</td>
                </tr>
            </table>
            </div>
        </div>

        <div>
            <div class="info_head">培训经历</div>
            <div class="info_border">
                <table>
                    <tr>
                        <td>机构</td>
                        <td>上海万通教育</td>
                    </tr>
                    <tr>
                        <td>时间段</td>
                        <td>2019-12 至 今</td>
                    </tr>
                    <tr>
                        <td>描述</td>
                        <td>考研培训</td>
                    </tr>
                </table>
                <div style="height:2px;background-color: #ccc"></div>
                <table>
                    <tr>
                        <td>机构</td>
                        <td>上海华育培训</td>
                    </tr>
                    <tr>
                        <td>时间段</td>
                        <td>2013-08 至 2014-06</td>
                    </tr>
                    <tr>
                        <td>描述</td>
                        <td>软件技术培训</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- 求生欲 --->
        <div>
            <div class="info_head">个人求生欲</div>
            <div class="info_border">
            <div>{{myInfo.forlive}}
            </div>
            </div>
        </div>

        <div>
            <div class="info_head">技能池</div>
            <div class="info_border">
            <div style="display: inline-block;padding: 4px;" v-for="ab in myInfo.abilities">
                <span style="padding:0 5px;display: inline;background-color: salmon;border-radius: 10px;color:white;">{{ab.name}}</span>

            </div>
            </div>
        </div>

    </span>
</div>
<!-- 相对重要的项目-->
<div id="pj">
    <div id="projectTitle">重要项目简介</div>

    <div v-for="pro in projects">
        <table class="projectb" >
            <tr style="background-color:#feb" >
                <td>项目类型</td>
                <td>{{pro.item}}</td>
                <td>时间段</td>
                <td>{{pro.timespan}}</td>
            </tr>
            <tr style="background-color:#fec" >
                <td>担任角色</td>
                <td>{{pro.role}}</td>
                <td>人员数量</td>
                <td>{{pro.member}}</td>
            </tr>
            <tr style="background-color:#feb" >
                <td>难点</td>
                <td colspan="3" v-html="pro.difficulty"></td>
            </tr>
            <tr style="background-color:#fec" >
                <td>项目描述</td>
                <td colspan="3"   v-html="pro.desc"></td>
            </tr>
            <tr style="background-color:#feb" >
                <td>技术栈</td>
                <td colspan="3"   v-html="pro.skill"></td>
            </tr>
            <tr style="background-color:#fec" >
                <td >职责</td>
                <td colspan="3" v-html="pro.duty"></td>
            </tr>
            <tr style="background-color:#feb" >
                <td >相关链接</td>
                <td colspan="3" v-html="pro.ext"></td>
            </tr>
        </table>
        <div class="careerLine"></div>
    </div>

</div>

</div>
<script>
    new Vue({
        el: '#resume',
        data: {
            careers: [
                {
                    period1:"2018-07 至 2020-02",
                    period2:"1年7个月",
                    cpname:"上海二秒科技有限公司",
                    postion:"项目开发经理",
                    salary:"25k*12+年终+代币",
                    reason:"受疫情影响，公司关闭",
                    dowhat:"区块链相关",
                    duty:"<div>1. 项目架构设计，核心代码实现。</div>"+
                         "<div>2. 项目管理，流程安排，协调组员完成任务。</div>"  +
                         "<div>3. 运维部署，自动化发布流程搭建。</div>" +
                         "<div>4. 技术培训，分享。 </div>"
                    ,
                },
                {
                    period1:"2015-12 至 2018-06",
                    period2:"2年6个月",
                    cpname:"上海万企明道软件有限公司",
                    postion:"研发经理",
                    salary:"19k*12+年终",
                    reason:"产品部拖稿越来越严重，并越权估期多次，离职了3名研发经理",
                    dowhat:"企业协作Saas云平台",
                    duty:"<div>1. 企业协作Saas平台下的项目管理及会议日程两个模块的项目管理及部分后端事务。</div>" +
                         "<div>2. 面向用户的自定义控件组件（所有表单都可以灵活自定义，并支持数据公式勾稽）及评论组件的后端设计及代码实现。</div>" +
                         "<div>3. 技术调研，架构搭建，生产环境代码及数据库层面的性能优化</div>" +
                         "<div>4. 新人技术培训，分享</div>"
                    ,
                },
                {
                    period1:"2015-09 至 2015-11",
                    period2:"2个月",
                    cpname:"健医信息科技(上海)股份有限公司",
                    postion:"后端开发",
                    salary:"11k/月",
                    reason:"无事可做,对职业发展不利",
                    dowhat:"面向机构的保险平台",
                    duty:"网络爬虫",
                },
                {
                    period1:"2015-03 至 2015-09",
                    period2:"6个月",
                    cpname:"Panli代购",
                    postion:"后端开发",
                    salary:"7k/月+绩效",
                    reason:"参与项目停止主推，将处于维护状态",
                    dowhat:"跨境代购电商",
                    duty:"电商积分优惠券系统及社区的迭代维护",
                },
                {
                    period1:"2014-06 至 2015-03",
                    period2:"9个月",
                    cpname:"上海实地信息技术有限公司",
                    postion:"全栈开发",
                    salary:"4.5K/月",
                    reason:"加薪幅度与能力不匹配",
                    dowhat:"外包（驻跨国物流）",
                    duty:"负责OCS国际快递预算系统的迭代与维护",
                },


            ],
            myInfo: {
                name:"朱斌",
                state:"离职中",
                experience:"6年经验",
                face:"face.jpg",
                gendar:"男",
                edu:"大专",
                birthday:"1989-11-17",
                census:"上海",
                phone:"13671523112",
                mail:"343688972@qq.com",
                wechat:"13671523112",
                forlive:"因为得之不易，方知万事需要珍惜，学生时期的贪玩，踏入社会的艰难，使我深刻体会知识，经验以及协作的可贵，坚信总有公司认可使我有所作为。",
                colleage:"上海科学技术职业学院",
                major:"应用电子",
                span:"2008-09 至 2011-07",
                position:"高级开发/研发经理",
                lang:"Golang",
                salary:">=30k",
                blogs:[
                    {
                        img:"https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1581435283658&di=d4ec52a57c853aa45f1a174804742a44&imgtype=jpg&src=http%3A%2F%2Fdichanyi.com%2Fimages%2Fcase-dongme%2Fyeyu%2F8.png",
                        url:"jianshu.com/u/f04a917ae0f5",
                        link:"https://www.jianshu.com/u/f04a917ae0f5"

                    },{
                        img:"https://static.zhipin.com/zhipin-geek/v131/web/geek-vue/static/images/icon-sns-githubb.c8863514.png",
                        url:"github.com/Rennbon",
                        link:"https://github.com/Rennbon"
                    }
                ],
                abilities:[
                    {
                        name:"Mysql",
                        score:8,
                    },
                    {
                        name:"Mongodb",
                        score:9,
                    },
                    {
                        name:"Golang",
                        score:8,
                    },
                    {
                        name:".Net",
                        score:7,
                    },
                    {
                        name:"Python",
                        score:3,
                    },
                    {
                        name:"docker",
                        score:4,
                    },{
                        name:"jenkins",
                        score:5,
                    },
                    {
                        name:"elasticsearch",
                        score:3,
                    },
                    {
                        name:"Mssql",
                        score:7,
                    },
                    {
                        name:"influxdb",
                        score:3,
                    },
                    {
                        name:"kafka",
                        score:4,
                    },
                    {
                        name:"redis",
                        score:5,
                    },
                    {
                        name:"codis",
                        socre:5,

                    },
                    {
                        name:"javascript",
                        socre:6,
                    },
                    {
                        name:"linux",
                        socre:4,
                    },{
                        name:"Axure",
                        socre:"7",
                    },{
                        name:"postgresql",
                        socre:"4",
                    }
                ],
            },
            projects:[
                {
                    item:"监控安防",
                    role:"独立负责",
                    timespan:"2019-12 至 2019-12",
                    desc:'针对海康威视网络摄像头视频业务，对视频中的人物进行身份分析，及一些摄像头权限操作。',
                    difficulty:
                      "海康威视没有直接支持Python的开源库，需要自行封装，各种库兼容性差，环境搭建难"
                    ,
                    skill:"Python + windows",
                    member:1,
                    duty:"实现Python调用海康威视SDK动态库，完成硬件产品对接及二次开发。"
                    ,
                    ext:"<a href='https://www.jianshu.com/p/c3c4bf3d1ef8'>https://www.jianshu.com/p/c3c4bf3d1ef8</a>",

                },
                {
                    item:"短音频社交",
                    role:"项目经理/架构/产品",
                    timespan:"2019-04 至 2019-10",
                    desc:'一个结合短音频及区块链资产的社交软件',
                    difficulty:"项目采用承孵化制，一下子要权衡一个项目从面向市场人群，到产品设计到技术迭代是之前没有尝试过的，时间变得不够用，合理安排项目的分工，各流程的衔接是最难的",
                    skill:"自研API Gateway + gRPC + CentOS + MongoDB replica set + MySQL主从 + Codis + Nginx + Golang + Docker + Kafka",
                    member:9,
                    duty:"<div>1. 项目开发人员分工，周期安排，架构设计，制定代码规范，开发文档编写，Code review。</div>" +
                           "<div>2. 参与部分产品原型制作（Axure），产品评审。</div>" +
                           "<div>3. 项目架构设计，采用微服务架构，微服务使用DDD领域驱动设计，并和CTO一起实现了自研API Gateway 及配套的一些SDK，实现了微服务的统一调度。</div>" +
                           "<div style=\"padding-left: 20px;\">3.1 API Gateway实现了服务发现，请求限流，一致性hash路由，统一接入。</div>"+
                           "<div style=\"padding-left: 20px;\">3.2 API Gateway SDK则是对gRPC服务的封装，是基于gRPC的微服务加入了MVC的风格,自动完成服务注册，API文档生成。</div>"+
                           "<div>4. 生产及测试Linux环境搭建，Jenkins自动化部署配置(Golang + Gitlab私有仓库+Docker Private Registry)。</div>"+
                           "<div>5. pprof框架性能测试案例编写</div>" +
                           "<div>6. 百度云对象存储Object-C 转Swift SDK编写</div>"
                    ,
                    ext: "<a href='https://github.com/2SE/dolphin'>https://github.com/2SE/dolphin</a>"+
                            "<a href='https://github.com/2SE/dolphin-sdk'>https://github.com/2SE/dolphin-sdk</a>"
                        ,
                },
                {
                    item:"类联盟链项目",
                    role:"后端开发",
                    timespan:"2018-09 至 2019-03",
                    desc:"多链互通，一个主链，多个子链，主链子链可跨链验证，子链受制于主链共识。",
                    difficulty:
                        "子链创世块需要结合主链交易生成及跨链交易的验证"
                    ,
                    skill:"Golang + LevelDB",
                    member:4,
                    duty:"完成主链子链存储，跨链及txpool的设计与实现",
                    ext:"<a href='https://github.com/sixexorg/magnetic-ring'>https://github.com/sixexorg/magnetic-ring</a>",

                },
                {
                    item:"多币种钱包",
                    role:"独立负责",
                    timespan:"2018-09 至 2018-11",
                    desc:"<div>币种HD钱包实现了一个私钥衍生各币种公私钥，可定制子私钥深度，统一管理多币种精确度差异，离线签名及发送交易。同时支持单币种间多交易阻塞功能，可以配置交易成功后方可发起下笔交易，并配备内部地址交易监听，将所有交易明细记入与MySQL</div>"
                       ,
                    difficulty:
                        "<div>多币种钱包架构统一抽象，实现泛型调用<div>"
                    ,
                    skill:"Golang + BadgerDB + MySQL",
                    member:1,
                    duty:"完成HD钱包代码并编写开源文档，方便拓展维护",
                    ext:"<a href='https://github.com/boxproject/boxwallet'>https://github.com/boxproject/boxwallet</a>",

                },
                {
                    item:"面向用户的表单自定义组件",
                    role:"后端",
                    timespan:"2016-11 至 2016-12",
                    desc:'可以由按照不同需求选取各种控件配置出合适的表单，自定义控件组件为mingdao.com企业协作平台下主打的一个底层核心功能，项目管理，人事表单，工作表等都引用了此组件',
                    difficulty:
                            "<div>1. 面向用户的控件kv的动态存储设计，挑选了NoSQL的mongodb<div>" +
                            "<div>2. 公式控件可以将数字金额类的控件勾稽起来，对于引用控件的计算处理，循环引用处理</div>"
                    ,
                    skill:".Net + MongoDB",
                    member:1,
                    duty:"完成组件后端开发，编写详细开发文档供前端调用"
                    ,
                    ext: "<a href='www.mingdao.com'>www.mingdao.com</a>",


                }
            ]
        }
    })
</script>
</body>
</html>
